modules = ["web", "python-3.11"]
run = "python main.py"

[nix]
channel = "stable-24_05"
packages = ["iana-etc", "libev"]

[deployment]
run = ["sh", "-c", "python main.py"]

[[ports]]
localPort = 5000
externalPort = 80
